@import url('https://fonts.googleapis.com/css?family=Karma');
@import 'global/variables';


/*
* @TODO - to be refactored proportionally with the growth of the app
* Divide this file into the following sub-files:
* 1. form-inputs - to contain input stylesheets
* 2. form-buttons - style buttons - this can be used across the app
*
*/
.user-form {
  margin: 0 auto;
  width: 500px;

  // form headers
  .form-header {
    color: black;
    text-align: center;
  }

  // inputs
  .form-control {
    color: black;

    &:active, &:focus {
      border: 1px solid green;
    }
  }

  // buttons
  .btn {
    font-family: 'Karma', serif;
    background-color: $form_buttons;
    color: white;
    border: none;
    width: 30%;

    &:hover {
      background-color: white;
      color: $form_buttons;
      border: 1px solid $form_buttons;
      transition: none !important;
    }
  }
}
